body{
    background-color:black;
    color: white;
}
.resume{
    background-image:linear-gradient(black,black, indigo, purple);
}
.resume_content{
    padding: 45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: indigo;
    text-align:center;
    color:white;
    padding:6px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    border-radius:20px;
}
nav ul{
    list-style-type: none;
    background-color: black;
    margin:10px;
    padding: 10px;
    display: flex;
    border-radius:10px;
    border-style: solid;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content:space-evenly;
    font-size: x-large;
}
nav ul li{
    display: inline;
    font-size:x-large;
}
nav ul li a{
    color: white;
    padding:8px;
    
}
nav ul li a:hover{
    background-image:linear-gradient(to bottom right, purple,violet);
    border-radius: 15px;
}
nav ul li a:link{
    text-decoration: none;
}

.active{
    background-image:linear-gradient(to bottom right, purple,violet);
    border-radius: 15px;
}

.container{
    display: flex;
    padding: 50px;
    background-image:linear-gradient(to bottom right,black,black,indigo, purple);
    font-size: x-large;
    justify-content: space-evenly;
    border-radius: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style:solid;
}
.container > div{
    width:50%;
  }
/* come back to the photo */

.case_study{
    background-image:linear-gradient(to bottom right,indigo, purple,violet);
    padding:20px;
    border-style:solid;
    border-radius:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}
.contact_info{
    display: flex;
    padding: 50px;
    background-image:linear-gradient(to bottom right,indigo, purple,violet);
    font-size:x-large;
    justify-content: space-between;
    border-radius:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style:solid;
    margin: 10px;
}
.contact_info > div{
    width:50%;
    border-style:solid;
    padding:10px;
    border-radius: 20px;
}
.disclaimer{
    color: white;
    text-align: center;
    margin-top:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color: white;
}