body{
    background-color:#1c1d21;
    color: white;
}

header{
    background-color: #4D3A81;
    text-align:center;
    color:white;
    padding:6px;
    margin: 1%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
}


.flex-container{
    display: flex;
    padding: 50px;
    font-size: x-large;
    justify-content: space-evenly;
    border-radius: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style:solid;
}
.flex-container > div.bio{
    width:50%;
  }

.flex-container > div > img{
    object-fit: cover;
    border-radius: 50%;
}

.grid-containerA{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1px;
}
.grid-containerA > section {
    padding: 20px;
    font-size:x-large;
    border-radius:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style:solid;
    margin: 10px;
    text-align: center;
    gap:1px;
}
.grid-containerB {
    display :grid;
    grid-template-columns: auto auto;
    padding:10px;
    margin: 1px;
    border-radius:20px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 .grid-containerB >div1, .grid-containerB >div2{
    border-style:solid;
    padding:10px;
    border-radius: 20px;
    text-align: center;
    margin:10px;
    font-size:xx-large;
   
}

.disclaimer{
    color: white;
    text-align: center;
    margin-top:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    background-color: #9b00e8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    margin-top: 10px;
}

button:hover{
    background-color: #7a00b2;
}
a{
    color: white;
}